<div class="author">
    <h1 class="author__heading">Hi! I am Avijit.</h1>
    <p class="author__paragraph">Student and Tech Enthusiast.</p>
</div>
<img src="\img\thdk.png" alt="just a picture of a laptop" width="581" height="528" class="blog_image">
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article__ul">
        <% data.forEach(post => { %>
         
       
        <li>
            <a href="/post/<%= post._id %>">
                <span class="title"><%= post.title %></span>
                <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
      
        <% }) %>
    </ul>
    <% if (nextPage!==null) { %>
        <a href ="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
    
</section>